
body {
    display: flex;
    justify-content: center;
}

.all-body{
    width: 100%;
    max-width: 1440px;
    /* when use justify-content: center; then must use display: flex;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px red solid; */
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px blue solid; */
}
/* hero section  */

.hero {
    height: 90vh;
    margin-bottom: 5vh;
    width: 100%;
    background-image: url(assets/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    padding-top: 5vh;
    /* when use justify-content: center; then must use display: flex;  */
    display: flex;
    justify-content: center;
    /* border: 2px red solid; */
}


.hero-content {
    height: 95vh;
    width: 90%;
    /* padding-top: 5vh; */
    /* border: 4px black solid; */
}

.navbar {
    /* when use justify-content: center; then must use display: flex;  */
    height: 5vh;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 40px;
}

.community-box{
    height: 90vh;
    /* when use justify-content: center; then must use display: flex;  */
    display: flex;
    justify-content: space-between;
    /* border: 2px black solid; */
    align-items: center;
}

.com-box-text{
    /* border: 2px red solid; */
    width: 40%;
}

.com-box-svg{
    /* border: 2px red solid; */
    width: 60%;
}


/* <!-- Description Section  --> */

.description{
    /* border: 2px red solid; */
    /* height: 1100px; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    width: 100%;
    /* max-width: 1440px; */
}

.box-one{
    /* border: 2px red solid; */
    height: 450px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.051);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-two{
    height: 450px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.051);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-all{
    width: 100%;
    display: flex;
    justify-content: center;
}
.box-one-text{
    width: 55%;
    padding-left: 10%;
}

.box-one-svg{
    width: 50%;
    padding-right: 10%;
}
.box-two-text{
    /* width: 50%; */
    padding-right: 10%;
    /* border: 2px red solid; */
}

.box-two-svg{
    width: 30%;
    padding-left: 10%;
    /* border: 2px red solid; */
}


.test{
    /* when use justify-content: center; then must use display: flex;  */
    display: flex;
    justify-content: space-between;
}
.one{
    width: 40px;
    height: 40px;
    /* background: red; */
}